<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/../css/login.css"/>
</head>
<body>
<div class="center">
  <img src="/../images/moa_black.png" style="width:250px; margin-bottom:-50px;"/>
  <div style="margin-bottom:20px; font-weight:bold;">관리자 로그인</div>
  <form th:action="@{/admin/login}" th:object="${adminLoginForm}" method="post">
  <div>아이디
    <input type="text" th:field="*{admin_id}" style="margin-left:21px;" placeholder="아이디를 입력하세요."
            th:errorclass="error-class"/>
  </div>
  <div>비밀번호
    <input type="text" th:field="*{admin_pw}" style="margin-left:6px;" placeholder="비밀번호를 입력하세요."
           th:errorclass="error-class"/>
    <div class="error-class" th:errors="*{admin_id}"></div>
    <div class="error-class" th:errors="*{admin_pw}"></div>
  </div>
  <div id="joinbtn">계정이 없으신가요? <a href="adminJoin" id="join">회원가입</a></div>
  <button type="submit">로그인</button>
  </form>
</div>
</body>
</html>