<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품확인</title>
  <link rel="stylesheet" href="/../css/confirmProduct.css"/>
</head>
<body>
<header>
  <div style="padding-top:14px;">추가한 상품 확인</div>
  </div>
</header>
<div class="center">
  <table style="border-bottom : 1px solid lightgrey">
    <td>
    <th><img src="/../images/moa.png" style="width:150px;"/></th>
    <th id="pname">상품명</th>
    <th id="price">가격:개수</th>
    <th class="btn">
      <div><button id="modify">수정</button></div>
      <div><button id="del">삭제</button></div>
    </th>
    </td>
  </table>
  <div class="addbtn">
    <input type="button" onclick="location.href='add'" id="add" value="추가하기">
  </div>
</div>
</body>
</html>