*{
    padding : 0px;
    margin : 0px;
    outline:none;
}

.error-class {
      color:red;
      border-color:red;
      font-size:12px;
      margin-bottom:5px;
      text-align : center;
 }


/* 상품 리스트 들어가는 곳 */
.center {
    width:500px;
    height:100%;
    margin:0 auto;
    margin-top:250px;
    text-align:center;
}

div {
    font-size:14px;
}

input {
    border : 1px solid lightgrey;
    border-radius : 10px;
    padding:5px;
    width : 210px;
    margin-bottom:10px;
}

#join {
    text-decoration:none;
    color:#02a4d3;
    font-weight:bold;
}

#joinbtn {
    font-size:12px;
}

button {
    border-radius:20px;
    border : 0px;
    width:310px;
    height:35px;
    font-weight:bold;
    margin-top:10px;
}