<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>moa main</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header>
  <img src="/images/moa.png" id="himg"/>
    <div class="login">
    <ul>
        <li><a href="#" style="color:white">로그인</a>
            <ul>
                <li><a href="login">회원 로그인</a></li>
                <li><a href="adminLogin">사업자 로그인</a></li>
            </ul>
        </li>
    </ul>
    </div>
</header>
<div class="container">
  이미지 자리
</div>
<div class="center">
  <div class="plist">
    <!--for문 돌려서 list로-->
    <ul>
      <li><img src="/images/moa.png" id="pimg"/></li>
      <li><div id="pname">상품명</div></li>
      <li><div id="pprice">가격</div></li>
    </ul>
  </div>
</div>
</body>
</html>